*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




aside{
    position: fixed;
    
    top: 0;
    left: 0;
    
    background-color: rgb(0, 0, 0);
    width: 300px;
    border-radius: 9px;
    border: 4px solid rgba(0, 0, 0, 0.438) ;
    height: 100vh;
}
.asidbar--card{
    padding-left: 40px;
}
.home img {
    margin-left: 300px;
    height: 653px;
}

.asidbar--card img {
   
    margin: 48px;
    border-radius: 50%;
    border: 3px solid rgb(38, 41, 230);

}
.asidbar--card h3 {
    margin-left: 20px;
    color: rgb(255, 255, 255);

}
.pp{
    color: rgb(255, 0, 0);
    margin-top: 15px;
}
.asidbar--menu {
    margin-top: 40px;
    margin-left: 45px;

}
.tt{
    color: rgb(255, 1, 1);
    margin-right: 10px;
}
.about--titles{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 30px;
}
ul{
    list-style: none;

    
}
li{
    margin: 15px;
}

.home{
    position: relative;
    background-image: url("../img/men1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-left: 300px;
}
.home--cards{
    padding-top: 300px;
    margin-left: 40px;
}


a{

  text-decoration: none;
  color: rgb(255, 255, 255);
}
.home h2  h4 {
    
    margin-left: 400px;
}
.about{
    margin-left: 320px;
}
.about p{
    margin-top: 50px;
}
.about--card{
    margin-top: 50px;

}
.about--title{
        display: flex;
        align-items: center;
        
        gap: 90px;
    

    
}

.about--card--titl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    
}
.stats{
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.stat-box{
    text-align: center;
    padding: 20px;
}
.stat-box h2{
    font-style: 32px;
    margin: 5px 0;
    color: #000000;

}
.stat-box p {
    font-style: 16px;
    color:grey;
    margin: 0;
}
#Resume{
    margin-left: 320px;
}
.Resume--title{
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 35px;
}